annotated-types
anyio
click
colorama
contourpy
cycler
exceptiongroup
fastapi
fonttools
h11
idna
importlib_resources
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyarrow
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
zipp
